<div class="modal fade" id="eliminarCursoModal{{ c.0 }}" tabindex="-1" aria-labelledby="eliminarCursoModal{{ c.0 }}Label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eliminarCursoModal{{ c.0 }}Label">Confirmar eliminación</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Está seguro de que desea eliminar este curso?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <a href="{{ url_for('delete', id=c.0) }}" class="btn btn-danger">Eliminar</a>
      </div>
    </div>
  </div>
</div>